@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.ttf');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway';
    background-color: $pure-white;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    @extend %relative;
}

a {
    color: $pure-white !important;
    text-decoration: none;
    font-size: 1.7rem;
    font-family: 'Raleway-Bold'
}

h2 {
    font-size: 2.1rem;
    font-family: "Raleway-Bold";
    line-height: 30px;
    color: $almost-dark;
    @extend %text--center;
    @extend %uppercase;

    @include media-query(tablet) {
        font-size: 2.9rem;
        line-height: 40px;
    }
}

h3 {
    font-size: 2.2rem;
    font-family: "Raleway-Bold";
    @extend %uppercase;
    @extend %text--center;
    color: $almost-dark;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-family: 'Raleway';
    font-size: 1.4rem;
    line-height: 26px;
    padding: 0;
    @extend %text--center;

    @include media-query(tablet_plus) {
        font-size: 1.6rem;
    }
}