$energy-blue: #095ab1;
$energy-red: #fe0606;
$almost-white: #e9e9e9;
$medium-gray: #F5F5F5;
$darker-gray: #777777;
$lighter-blue: #0a5cb4;
$almost-dark: #444;
$normal-navy: #333386;

$hell-black: #000000;
$pure-white: #ffffff;
