@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';


.divider {
    border-color: $normal-navy;

    &--normal {
        width: 50px;
    }

    &--short {
        width: 40px;
    }
}
