@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';



nav {
    @extend %flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    align-items: center;
    background-color: $pure-white;
    box-shadow: 0 0 10px $darker-gray;
    z-index: 5;
    padding-bottom: 10px;


    .nav__phone {
        font-size: 1.4rem;
        color: $normal-navy;
        padding-right: 20px;
    }

    .nav__logo {
        text-align: center;
    }

        img {
            padding: 0 2px 0 2px;
            

            @include media-query(tablet) {
                padding: 10px;
            }
        }


        button {
            min-width: 205px;
            margin-top: -15px;
        }

        @include media-query(tablet) {

            padding-bottom: 0;

            .nav__logo {
                text-align: left;
            }
        }

        @include media-query(tablet) {
            padding-bottom: 5px;
        }

        @media screen and (min-width: 1200px) {
            button {
                margin-top: 0;
            }
        }
}