@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';



nav {
    @extend %flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    align-items: center;
    background-color: $pure-white;
    border: 1px solid red;
    z-index: 5;

    &__brands {
        
    }
}