@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';

.contact {
    background-color: $normal-navy;
    color: $pure-white;
    padding: 20px 0 20px 0;


    &__item {
        p {
            text-align: left;
            padding-left: 20px;
        }

        a {
            text-align: left;
        }
    }

    &__link {
        padding-left: 20px;
    }


    @include media-query(mobile_plus) {
        &__items {
            padding-left: 40%;
        }
    }

    @include media-query(tablet) {
        &__items {
            padding-left: 0;
        }
    }

}