@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';

.flooring {

    &__list {
    font-size: 1.4rem;
    line-height: 24px;
    padding: 0;
    // margin-top: 19px;
    margin-left: 118px;

    ul {
        @include list-reset();
        max-width: 452px;
        margin-bottom: 40px;
    }

    li {
        margin-top: 25px;
        @extend %relative;

        &::before {
            content: "";
            background: url("../img/mark_icon_light.jpg");
            width: 98px;
            height: 101px;
            @extend %absolute;
            left: -105px;
            top: 0;
        }
    }
    }
}