@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';

.gallery {
 h3 {
     padding-right: 15px;
 }
 img {
     max-width: 100%;
     padding: 10px 0 10px 0;

     @include media-query(tablet){
         padding: 0;
     }
 }

 .divider:nth-child(4) {
     margin-bottom: 30px;
 }

}