@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';

.maintenance {
    background: $medium-gray;
    padding: 30px 0 30px 0; 
    @extend %text--center;

    ul {
        font-size: 1.4rem;
        @include list-reset;
    }

    li {
        padding: 10px 0 10px 0;
        max-width: 370px;
    }
}