@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';

.projects {
    background-color: $medium-gray;
    text-align: center;
    padding-bottom: 30px;

    &__details {
        padding-top: 20px;
    }

    button {
        margin: 10px 0;
    }

    img {
        max-width: 100%;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            filter: brightness(115%);
            transition: filter .3s;
        }
    }

    @include media-query(tablet) {

        button {
            margin: 0;
        }
    }
}