@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';

.questions {
    margin-top: 20px;
    padding-bottom: 20px;

    &__h2 {
        max-width: 752px;
        position: relative;
        @extend %text--center;
    }

    &__p {
        max-width: 752px;
        @extend %text--center;
    }

    &__image {
        text-align: center;
    }

    button {
        margin: 20px 0 20px 0;
        min-width: 132px;
    }

    @include media-query(tablet) {
        
        p,h2 {
            text-align: left;
        }

        button {
            margin: 0;
        }
    }
}