@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';


.summary {
    background: $medium-gray;
    padding: 20px 0 20px 0;

    h3 {
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(190, 190, 190);
    }

    img {
        max-width: 100%;
    }

    ul {
        font-size: 1.4rem;
        list-style-image: url("../img/bullet.png");

         
        li {
            line-height: 24px;
            padding-left: 10px;
            padding-top: 3px;
            color: $normal-navy;
            font-weight: 600;
        }

    }

    &__wrapper {
        @extend %relative;
    }

    &__img {
        text-align: center;
        outline: 1px solid $medium-gray;
        padding: 4px;

        &:hover {
            outline: 1px solid $normal-navy;
            filter: sepia(10%);
            cursor: pointer;
            transition: all .3s;
            padding: 4px;
        }
    }

    @include media-query(mobile) {
        float: none;
    }

    @include media-query(mobile_plus) {
        li {
            float: left;
            width: 50%;
        }
    }

    @media screen and (min-width: 840px) {
        li {
            float: left;
            width: 33%;
        }
    }

    @media screen and (min-width: 992px) {
        li {
            float: none;
            width: 100%;
        }
    }

}